@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEB422;
    font-family: 'R', sans-serif;
}

.container {
    width: 400px;
    background: #fff;
    border-radius: 10px;
}

.container h1 {
    margin-top: 20px;
    text-align: center;
}

.container .form {
    padding: 0 40px;
}

.form-control {
    margin: 40px 0;
}

.form-control input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    height: 40px;
    border-bottom: 2px solid #adadad;
    margin-bottom: 10px;
}

.submit-form {
    margin: 20px 0 30px;
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 25px;
    background: #F73030;
    line-height: 50px;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
    text-align: center;
}

.submit-form:hover {
    color: #ccc;
}

.email-msg, .pass-msg {
    color: red;
    font-size: 15px;
    text-align: left;
}

.signup-link {
    margin: 20px 0 30px;
    font-size: 18px;
    text-align: center;
}

.signup-link a {
    text-decoration: none;
    color: #EEB422;
}

.signup-link a:hover {
    text-decoration: underline;
}

#toast {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: column;
}

.toast {
	padding: 20px;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 10px;
	animation: show_slide 1s ease forwards;
	display: flex;
	align-items: center;
	border-left: 6px solid;
    background-color: rgba(0, 128, 0, 0.4);
	border-color: rgb(0, 128, 0);
}

.toast i {
	font-size: 28px;
	color: white;
}

.toast .msg {
	padding: 0 20px;
	font-size: 16px;
	color: white;
}

.countdown {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	z-index: 1;
	animation: countdown 2s linear forwards;
    background-color: rgb(0, 128, 0);
}

@keyframes countdown {
	20% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}

@keyframes show_slide {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-10%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10px);
	}
}

@keyframes hide_slide {
	0% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(120%);
	}
}