@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'R', sans-serif;
    position: relative;
}

#header {
    height: 60px;
    background-color: #303030;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-account {
    position: relative;
    cursor: pointer;
    padding: 18px 0;
}

.logout {
    position: absolute;
    top: 59px;
    padding: 10px 20px;
    border: 1px #ccc solid;
    margin-left: 30px;
    background-color: #EBEBEB;
    cursor: pointer;
    display: none;
    border-top: none;
    z-index: 1;
}

.nav-account:hover .logout {
    display: block;
}

.logout:hover {
    color: #525252;
}

.username {
    margin-right: 30px;
    color: #ccc;
    padding:0 30px;
    font-size: 20px;
}

.toWebsite {
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
    border-right: 1px solid #ccc;
    padding: 0 30px;
}

.nav-bar {
    width: 20%;
    position: absolute;
    top: 0px;
    height: 100vh;
}

.nav-menu {
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
}

.nav-menu:not(:first-child) {
    border-bottom: 1px solid #ccc;
}

.nav-menu:hover {
    cursor: pointer;
}

.mgright {
    margin-right: 10px;
}

.right {
    position: absolute;
    right: 20px;
}

#content {
    position: absolute;
    left: 20%;
    width: 80%;
}

#content > input {
    padding: 10px;
    width: 40%;
    font-size: 18px;
}

.header-content {
    display: flex;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.home-title {
    margin-left: 10px;
}

.admin-home-title {
    margin-left: 10px;
}

.header-content > i, .service, .list, .home-title {
    margin-right: 10px;
}

.home-title {
    display: flex;
}

.content {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table thead {
    background-color: #E1E1E1;
    height: 60px;
}

table thead th {
    padding: 16px;
    text-align: left;
    border-right: 1px solid #ccc;
}

table tbody td {
    padding: 16px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 60px;
}

#delete-user-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-notify {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 450px;
    background-color: #fff;
}

.fa-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.delete-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-content span {
    font-size: 20px;
}

.modal-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
}

.modal-footer button {
    margin-bottom: 10px;
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    margin-right: 20px;
    margin-top: 10px;
}

.cancel-delete {
    background-color: #ccc;
    cursor: pointer;
}

.delete {
    background-color: #0080FF;
    cursor: pointer;
}

.cancel-delete:hover {
    background-color: #A5A5A5;
}

.delete:hover {
    background-color: #004C99;
    color: #ccc;
}